streamlit==1.35.0
langchain==0.2.14
langchain-community==0.2.12
langchain-groq==0.1.9
chromadb==0.5.0
pandas==2.0.3
unstructured==0.10.30
python-dotenv==1.0.0
torch==2.3.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
